.flixgrid-tr {
  background: #f7f7f7;
}

.flixgrid-tr:nth-child(2n+1) {
  background: #fff;
}

.flixgrid-tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

.flixgrid-tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}
